*{
    margin: 0;
    padding: 0;
}

.nav-text {
    color: black!important;
    font-size: 18px;
    margin: 0 20px 12px 12px;
    text-decoration: none!important;
}
.naav{
    border-bottom: 1px solid aliceblue;
    width: 100%;
    height: 70px;
}
.logo{
    padding-left: 30px!important;
    font-weight: bold;
    font-size: 22px;
    color: rgb(185, 5, 80)!important;
}

.nav-text:hover{
    cursor: pointer;
    border-bottom: 1px solid salmon;
    color: blue!important;
}
.active_class{
    border-bottom: 1px solid salmon;
    color: blue!important;
}

@media(max-width:576px){
    .nav-text:hover {
        border-bottom-style: none;
    }
}